@media screen and (min-width:480px) {
   body>img {
      width: 100px;
      height: 200px;
      background-color: blue;

   }
}

@media screen and (min-width:480px) {
   .glyphicons {
       margin-top: 1490px;
       text-align: center;
   }
}