body {
    color: white;
}
.navbar{
    background-color: black;
    color: white;
}
.navbar a {
    color: white;
    text-decoration: underline;
}
a:hover{
    color: rgb(9, 83, 40);
}

.navbar{
    height: 650px;
}
p {
    font-size: 32px;
    transition: 2s top;

}
.main{
    margin-top: -400px;
}


